extends layout

block body
  div.container
    div.row
      div.col-md-offset-2.col-md-3
        a(href="#")
          img.img-responsive.img-circle(src='/images/1.jpeg')
        h3.text-center Search
        p This is search
        form.form-inline(role="form", action="/search", method="get")
          input.form-control(type="text", placeholder="key words", name="keyword")
          button.btn.btn-primary Search
      div.col-md-offset-2.col-md-3
        a(href="#")
          img.img-responsive.img-circle(src='/images/2.jpeg')
        h3.text-center Profile
        p This is Profile
        form.form-inline(role="form", action="/profile", method="get")
          input.form-control(type="text", placeholder="Github Id", name="userId")
          button.btn.btn-primary(type="submit") Search
block body-additon
  script(src="/javascripts/bootstrap.min.js")
