extends layout

block body
  div.container
    table.table.table-striped.table-bordered
      th Github ID
      th Name
      each index, val in results
        tr
          td= val
          td= index
block body-additon
  script(src="/javascripts/bootstrap.min.js")
